/* make it responsive****************** */

body {
  background: #7b7a7a;
  margin: 0;
  user-select: none;
  /* stop the unnecessary movement */
  overflow-x: hidden;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 375px;
  min-height: 812px;
  padding: 24px;
  background: var(--gray-gray-1, #f9f9f9);
  position: relative;
  overflow-y: scroll;
    /* stop the unnecessary movement */
  overflow-x: hidden;
}

.container::-webkit-scrollbar {
  display: none;
}

/* Text Style...................................... */

span,
p,
h1,
h2,
h3,
h4,
h6 {
  color: var(--Gray-8, #404040);
  font-family: Glory;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.24px;
}

/* progress bar text */
h1 {
  font-size: 2rem;
}

/* Headlines: */
h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

h2 span {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--Primary, #8983f4);
}

h6 {
  color: var(--gray-gray-7, #606060);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.12px;
  margin-bottom: 5px;
}

span {
  color: var(--Gray-6, #868686);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.12px;
}

/* Header......................................... */

#upHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#downHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Menu Svg................... */

#menuIcon {
  width: 24.297px;
  height: 24px;
}

/* Search Box.................................. */

#searchBox {
  width: 100%;
  height: 32px;
  position: relative;
}

/* Searchbox Input................... */

#searchBox input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;

  border-radius: 5px;
  border: 1.5px solid var(--tint-tint-5, #a29ef1);
  background: var(--gray-gray-1, #f9f9f9);
  outline: none;
}

#searchBox input::placeholder {
  color: var(--gray-gray-4, #cbcbcb);
  font-family: Inter;
  font-weight: 400;
}

/* Search Icon................... */

#searchBox svg {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(1%, -50%);
}

/* Calendar........................................ */

#calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;
}

#calendar > div {
  min-height: fit-content;
  min-width: fit-content;
  width: 34px;
  height: 52px;
  padding: 5px 3px;
  border-radius: 5px;
  background: var(--tint-tint-1, #dfdef1);
  text-align: center;
}

#calendar > div:hover {
  box-shadow: 0px 0px 5px 0px #dfdef1;
}

#calendar span {
  font-size: 1rem;
}

#calendar .activeDay {
  border-radius: 5px;
  background: var(--Primary, #8983f4);
}

#calendar .activeDay span {
  color: var(--gray-gray-1, #f9f9f9);
}

/* Sprcial Events & Progress Bar.................... */

#important {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Sprcial Events................................... */

#event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: row;
  /* border-radius: 5px;
border: 1.5px solid var(--tint-tint-3, #C5C3F0);
padding: 3px 5px; */
}

#event .backImg {
  border-radius: 5px;
  background: var(--tint-tint-1, #dfdef1);
  width: 40px;
  height: 40px;
  display: flex;
  align-content: center;
}

.column {
  margin-bottom: 10px;
}

#event p {
  font-size: 0.75rem;
  margin-left: 10px;
}

#event .backImg:hover {
  box-shadow: 0px 0px 5px 0px #e4b1f1;
}

/* Circular Progress Bar........................... */

#progress {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* outer circle.............. */
#outer {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background: #e9e9ff;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

/* inner circle.............. */
#inner {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  background: #f9f9f9;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* progress bar.............. */
circle {
  fill: none;
  stroke: url(#paint0_radial_160_346);
  stroke-width: 12px;
  stroke-dasharray: 472;
  stroke-dashoffset: 0;
  animation: progress;
}

#progress svg {
  position: absolute;
  top: 0;
  left: 0;
}

/* Today Tasks Section............................. */

/* Headline Section.......... */
.headlineSec {
  display: flex;
  justify-content: space-between;
}

.sort {
  display: flex;
  align-items: center;
}

.sort svg {
  margin-left: 5px;
}

/* Tasks Section...................................... */

.taskRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* the task is not checked yet............ */
.unChecked {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid gray;
}

.unChecked:hover,
.checked:hover {
  box-shadow: 0px 0px 3px 0px #e4b1f1;
}

.task {
  display: flex;
  flex-direction: column;
  width: 296px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  border-radius: 5px;
}

.toDo .task {
  border: 1.5px solid var(--tint-tint-5, #a29ef1);
  background: var(--gray-gray-1, #f9f9f9);

  /* for swipe */
overflow: hidden;
cursor: grab;
transform: translateX(0);
transition: transform .5s ease-out;
}

.toDo .task:hover {
  box-shadow: 0px 0px 3px 0px #e4b1f1;
}

/* img background........... */

.lightBack {
  border-radius: 4px;
  background: #c5c3f0;
}

.taskContent {
  padding: 10px 0px;
  width: 60%;
}

.taskContent h4 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 0.87rem;
}

.taskContent svg {
  margin-left: 10px;
  vertical-align: middle;
}

.taskContent svg:last-of-type {
  margin-left: 5px;
}

.taskContent span {
  font-size: 0.75rem;
}

.taskContent span:last-of-type {
  margin-left: 5px;
}

/* Finished Tasks................................... */

.finished .task {
  background: var(--gray-gray-1, #f9f9f9);
  border: 1.5px solid var(--tint-tint-3, #c5c3f0);
}

.finished h4 {
  color: var(--Gray-6, #868686);
  text-decoration: line-through;
}

/* img background........... */

.darkBack {
  border-radius: 4px;
  background: #dfdfdf;
}

/* the task is checked............ */
.checked {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #8983f4;
  border: 1px solid #8983f4;
}

/* Mobile Navigation Menu............................ */

#nav {
  margin: 0 auto;
  position: sticky;
  bottom: 0;
  width: fit-content;
  z-index: 1;
}

#nav ul {
  box-sizing: border-box;
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--Primary, #8983f4);
  height: 56px;
  width: 375px;
  padding-right: 24px;
  padding-left: 24px;
}

#nav svg {
  cursor: pointer;
}

/* Task Groups........................................*/

.groupsSec {
  position: sticky;
  bottom: 56px;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  z-index: 1;
}

#groups {
  border-radius: 5px 5px 0px 0px;
  background: var(--tint-tint-1, #dfdef1);
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 375px;
  height: 136px;
  box-sizing: border-box;
  padding-right: 24px;
  padding-left: 24px;
}

#groups div {
  position: relative;
  background: #c5c3f0;
  border-radius: 5px;
  width: 100px;
  height: 92.761px;
  text-align: center;
}

#groups h2 {
  transform: rotate(-16.244deg);
  color: var(--shade-shade-5, #35366d);
  /* how ti center it**************************** */
  position: absolute;
  top: 10px;
  left: 10px;
}


#groups img{
  width: 100%;
  height: 100%;
}

/* Blur Page.......................................... */

#blurPage {
  background: #F9F9F9B2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* do not blur the container.......... */
.disabled {
  display: none;
}

/* ................................................ */
/* edit the task by swiping */

.editOptions {
display: flex;
align-items: center;
align-content: center;

}

.editOptions svg {
  padding: 10px;
  cursor: pointer;
}

.swipeContainer {
  width: 140%;
  display: flex;
  justify-content: space-around;
  transition: transform 0.5 ease-in-out;
  margin-bottom: 24px;
}

/* ................................................ */
/* empty state....................................... */

.emptyState {
  background:var(--gray-gray-1, #f9f9f9);
position: absolute;
top: 250px;
left: 0;
width: 100%;
height: 100%;
}

.emptyStateHolder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.emptyState img{
  width: 305px;
  height: 248px;
}

.emptyStateIext {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyStateIext span:first-of-type {
  color: var(--gray-gray-9, #202020);
  font-size: 1rem;
  margin-bottom: 10px;
}


.emptyStateIext span:last-of-type {
  color: var(--Primary, #8983F4);
  font-size: 1.25rem;
}

.disabledEmptyState {
  display: none;
}

