/* make it responsive****************** */

body {
  background: #7b7a7a;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 375px;
  height: 812px;
  padding: 24px;
  background: var(--gray-gray-1, #f9f9f9);
  position: relative;
  overflow-y: scroll;
}

/* Text Style...................................... */

span,
h1,
h2,
h3,
h4,
h6 {
  color: var(--Gray-8, #404040);
  font-family: Glory;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.24px;
}

/* progress bar text */
h1 {
  font-size: 2rem;
}

/* Headlines: */
h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

h2 span {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--Primary, #8983f4);
}

h6 {
  color: var(--gray-gray-7, #606060);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.12px;
  margin-bottom: 5px;
}

span {
  color: var(--Gray-6, #868686);
font-size: 12px;
font-weight: 400;
letter-spacing: -0.12px;
}

/* Header......................................... */

#upHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#downHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Menu Svg................... */

#menuIcon {
  width: 24.297px;
  height: 24px;
  flex-shrink: 0;
}

/* Search Box.................................. */

#searchBox {
  width: 100%;
  height: 32px;
  flex-shrink: 0;

  position: relative;
}

/* Searchbox Input................... */

#searchBox input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;

  border-radius: 5px;
  border: 1.5px solid var(--tint-tint-5, #A29EF1);
  background: var(--gray-gray-1, #F9F9F9);
  outline: none;
}

#searchBox input::placeholder {
  color: var(--gray-gray-4, #cbcbcb);
  font-family: Inter;
  font-weight: 400;
}

/* Search Icon................... */

#searchBox svg {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(1%, -50%);
}

/* Calendar........................................ */

#calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;
}

#calendar > div {
  min-height: fit-content;
  min-width: fit-content;
  width: 34px;
  height: 52px;
  padding: 5px 3px;
  border-radius: 5px;
  background: var(--tint-tint-1, #dfdef1);
  text-align: center;
}

#calendar span {
  font-size: 1rem;
}

/* Sprcial Evnts................................... */

#routine {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  border: 1.5px solid var(--tint-tint-5, #A29EF1);
  width: 40%;
  padding: 0px 18px 18px 18px;
}

#routine div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#routine .backImg {
  border-radius: 5px;
  background: var(--tint-tint-1, #dfdef1);
  width: 40px;
  height: 40px;
}

#upRow > div {
  margin-bottom: 10px;
}

#routine .backImg:hover {
  /* Active in js *************************/
  box-shadow: 0px 0px 5px 0px #e4b1f1;
}

/* Circular Progress Bar........................... */

#important {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#progress {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* outer circle.............. */
#outer {
  margin: 0 auto;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  background: #e9e9ff;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

/* inner circle.............. */
#inner {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background: #f9f9f9;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* progress bar.............. */
circle {
  fill: none;
  stroke: url(#paint0_radial_160_346);
  stroke-width: 15px;
  stroke-dasharray: 472;
  stroke-dashoffset: 0;
  /* in js***************************************** */
  animation: progress;
}

#progress svg {
  position: absolute;
  top: 0;
  left: 0;
}

/* Today Tasks Section............................. */

/* Headline Section.......... */
.headlineSec {
  display: flex;
  justify-content: space-between;
}

.sort {
  display: flex;
  align-items: center;
}

.sort svg {
  margin-left: 5px;
}

/* Tasks Section...................................... */

.tasks {
  display: flex; 
   flex-direction: column; 
}

.taskRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;
}

/* ********************************** */

.radio {
width: 20%;
}

.radio input {
  width: 20px;
  height: 20px;
}

.task {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  border-radius: 5px;
  border: 1.5px solid var(--tint-tint-5, #A29EF1);
  box-shadow: 0px 0px 3px 0px #E4B1F1;
  background: var(--gray-gray-1, #F9F9F9);
}

.taskContent  {
padding: 10px 0px;
width: 60%;
  }

.taskContent h4 {
margin: 0;
margin-bottom: 5px;
font-size: 0.87rem;
}

.taskContent  svg {
  margin-left: 10px;
  vertical-align: middle;
}

.taskContent  svg:last-of-type {
  margin-left: 5px;
}

.taskContent  span{
  font-size: 0.75rem;
}

.taskContent  span:last-of-type{
  margin-left: 5px;
}

/* Mobile Navigation Menu............................ */

#nav {
  margin: 0 auto;
  position: sticky;
  bottom: 0;
  width: fit-content;
}

#nav ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--Primary, #8983F4);
  min-height: 56px;
  min-width: 375px;
  padding-right: 24px;
  padding-left: 24px;
}