body {
  background-color: gray;
  margin: 0;
}

/*create form */

#page2container {
  box-sizing: border-box;
  border-radius: 10px;
  background: var(--tint-tint-1, #dfdef1);
  width: 400px;
  margin: 0 auto;
  padding: 50px;
}

/*header*/

header {
  width: 100%;
  height: 50px;
  text-align: right;
}

.textareaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textareaContainer div {
  width: 100%;
  height: fit-content;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


input,
textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 48px;
  padding: 0px 8px;
  margin-top: 4px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: var(--gray-gray-1, #f9f9f9);
  margin-bottom: 16px;
}

textarea {
  max-width: 300px;
  min-width: 300px;
  min-height: 80px;
  max-height: 80px;
  padding: 10px;
}

/* #title {
  display: inline-block;
  margin: 4px 69px;
}

#description {
  display: inline-block;
  margin: 4px 69px;
} */

/* category div................. */
#category {
  display: flex;
  margin: 4px 69px;
}

#categorylist {
  width: 160px;
  height: 31px;
  outline: none;
  margin: 0px 8px;
}

/* ................................................... */

/* the container of inputs.... */

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#categorySelect {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border-bottom: 1px solid var(--gray-gray-5, #adadad);
  background: var(--gray-gray-1, #f9f9f9);
  outline: none;
}

#categorySelect option {
  border: 1px solid var(--gray-gray-2, #ededed);
  padding: 10px 0px;
}

.time,
.date,
.reminder,
.repeat {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containerSelect,
.containerDateSelect,
.containerReminderSelect,
.containerRepeatSelect {
  display: flex;
  flex-direction: column;
  position: relative;
}

.selectDefault,
.selectDateDefault,
.selectReminderDefault,
.selectRepeatDefault {
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border-bottom: 1px solid var(--gray-gray-5, #adadad);
  background: var(--gray-gray-1, #f9f9f9);

  margin-bottom: 3px;
}

.timeSelect,
.dateSelect,
.reminderSelect,
.repeatSelect {
  display: none;
}

.reminderSelect div,
.repeatSelect div {
  padding: 3px;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid var(--gray-gray-3, #dfdfdf);
  background: var(--gray-gray-1, #f9f9f9);
}

.hour,
.min,
.day,
.month,
.year {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: fit-content;

  overflow-y: scroll;
  /* for scroll snap animation */
  scroll-snap-type: y mandatory;
  align-content: center;
}

/* hide the scroll........... */

.hour::-webkit-scrollbar,
.min::-webkit-scrollbar,
.day::-webkit-scrollbar,
.month::-webkit-scrollbar,
.year::-webkit-scrollbar {
  display: none;
}

.hour span,
.min span,
.day span,
.month span,
.year span {
  /* for scroll snap animation */
  scroll-snap-align: center;
  box-sizing: border-box;
  margin: 8px 0px;
  font-size: 0.85rem;
  color: var(--Gray-5, #adadad);
}

.selected {
  color: var(--gray-gray-9, #202020) !important;
}

.disabledOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 201px;
  min-height: 127px;
  border-radius: 5px;
  border-bottom: 1px solid var(--gray-gray-5, #adadad);
  background: var(--gray-gray-1, #f9f9f9);
  overflow: hidden;

  position: absolute;
  bottom: -126px;
  z-index: 1;
}

.repeat .disabledOptions,
.reminder .disabledOptions {
  /* justify-content: start; */
  align-items: start;
  bottom: -175px;
}
.optionTime,
.optionDate,
.optionReminder,
.optionRepeat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 77px;
  height: 74px;
  margin: 10px;
}

.optionTime hr,
.optionDate hr {
  height: 50%;
}

.arrowOpen,
.arrowDateOpen,
.arrowReminderOpen,
.arrowRepeatOpen {
  transform: rotate(180deg);
}

/* button section................................ */

.btnContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btnContainer button {
  width: 66px;
  height: 42px;
}
