body {
  background-color: gray;
  margin: 0;
  user-select: none;
}

/*create form */

#page2container {
  box-sizing: border-box;
  background: var(--tint-tint-1, #dfdef1);
  width: 375px;
  min-height: 812px;
  margin: 0 auto;
  padding: 24px;
}

#page2container::-webkit-scrollbar {
  display: none;
}

#page2container section {
  padding-left: 25px;
  padding-right: 25px;
}

/*header*/

header {
  width: 100%;
  height: 50px;
  text-align: right;
}

.textareaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textareaContainer div {
  width: 100%;
  height: fit-content;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input,
textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 48px;
  padding: 0px 8px;
  margin-top: 4px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: var(--gray-gray-1, #f9f9f9);
  margin-bottom: 16px;
  resize: none;
}

textarea {
  max-width: 100%;
  min-width: 100%;

  min-height: 80px;
  max-height: 80px;
  padding: 10px;
}

/* ................................................... */

/* the container of inputs.... */

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time,
.date,
.reminder,
.repeat,
.category {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containerSelect,
.containerDateSelect,
.containerReminderSelect,
.containerRepeatSelect,
.containerCategorySelect {
  display: flex;
  flex-direction: column;
  position: relative;
}

.selectDefault,
.selectDateDefault,
.selectReminderDefault,
.selectRepeatDefault,
.selectCategoryDefault {
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border-bottom: 1px solid var(--gray-gray-5, #adadad);
  background: var(--gray-gray-1, #f9f9f9);

  margin-bottom: 3px;
}

.timeSelect,
.dateSelect,
.reminderSelect,
.repeatSelect,
.categorySelect {
  display: none;
}

.reminderSelect div,
.repeatSelect div,
.categorySelect div {
  padding: 3px;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid var(--gray-gray-3, #dfdfdf);
  background: var(--gray-gray-1, #f9f9f9);
}

.hour,
.min,
.day,
.month,
.year {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: fit-content;

  overflow-y: scroll;
  /* for scroll snap animation */
  scroll-snap-type: y mandatory;
  align-content: center;
}

/* hide the scroll................................. */
 /* Hide scrollbar for Chrome, Safari and Opera */

.hour::-webkit-scrollbar,
.min::-webkit-scrollbar,
.day::-webkit-scrollbar,
.month::-webkit-scrollbar,
.year::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hour,
.min,
.day,
.month,
.year {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

/* ............................................ */

.hour span,
.min span,
.day span,
.month span,
.year span {
  /* for scroll snap animation */
  scroll-snap-align: center;
  box-sizing: border-box;
  margin: 8px 0px;
  font-size: 0.85rem;
  color: var(--Gray-5, #adadad);
}

.selected {
  color: var(--gray-gray-9, #202020) !important;
}

.disabledOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 201px;
  min-height: 127px;
  border-radius: 5px;
  border-bottom: 1px solid var(--gray-gray-5, #adadad);
  background: var(--gray-gray-1, #f9f9f9);
  overflow: hidden;

  position: absolute;
  bottom: -126px;
  z-index: 1;
}

.repeat .disabledOptions,
.reminder .disabledOptions {
  align-items: start;
  bottom: -175px;
}

.category .disabledOptions {
  align-items: start;
  bottom: -150px;
}

.optionTime,
.optionDate,
.optionReminder,
.optionRepeat,
.optionCategory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 77px;
  height: 74px;
  margin: 10px;
}

.optionTime hr,
.optionDate hr {
  height: 50%;
}

.arrowOpen {
  transform: rotate(180deg);
}

/* button section................................ */

.saveBtn {
  border: none;
  box-shadow: 0px 0px 5px 0px #dfdef1;
  border-radius: 5px;
  background: var(--Primary, #8983f4);
  color: var(--gray-gray-1, #f9f9f9);
  text-align: center;
}

.cancelBtn {
  border: none;
  background: none;
  color: var(--gray-gray-7, #606060);
  text-align: center;
}

.btnSmallContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btnSmallContainer button {
  padding: 5px 8px;
}

.btnContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btnContainer button {
  width: 66px;
  height: 42px;
}

.btnContainer .saveBtn a {
  box-sizing: border-box;
  padding: 14px 12px;
  color: var(--gray-gray-1, #f9f9f9);
  text-decoration: none;
}

.btnContainer .cancelBtn a {
  color: var(--gray-gray-7, #606060);
  text-decoration: none;
}

/* Mobile Navigation Menu............................ */

#nav {
  margin: 0 auto;
  position: sticky;
  bottom: 0;
  width: fit-content;
  z-index: 1;
}

#nav ul {
  box-sizing: border-box;
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--Primary, #8983f4);
  height: 56px;
  width: 375px;
  padding-right: 24px;
  padding-left: 24px;
}

#nav svg {
  cursor: pointer;
}
